<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/images/logo.png" height="50" alt="ReACHE">
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/store">Store</a>
      </li>
    </ul>
    <span class="navbar-text padright">
      <span class="snipcart-items-count"></span> items in your cart, totalling <span class="snipcart-total-price"></span>
    </span>
    <button class="snipcart-checkout my-2 btn btn-info">
      View Cart
    </button>
  </div>
</nav>
