<!DOCTYPE html> 
<html>
  <head>
    <%- include("partials/header", {title: null, desc: null }) %>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <%- include("partials/items", {items}) %>
    <%- include("partials/footer") %>
  </body>
</html>
