
body {
  font-family: 'Open Sans', sans-serif;
}
.padtop {
  padding-top: 50px;
}
.padright {
  padding-right: 20px;
}
.bold{
  font-weight: 900;
}
.semibold{
  font-weight: 600;
}
.center {
  text-align: center;
}
.storediv {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}
figure {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  height: 300px;
}
.figure-img {
  height: 200px
}
.gridblock {
  display: inline-block;
}
#title {
  padding-bottom: 20px;
}
.roundimg {
  border-radius: 50%;
  object-fit: cover;
}
.right{
  float: right;
}
.vertcenter{
  vertical-align: middle;
}
.logo{
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo h1{
  line-height: 128px;
}
.hidden{
  display: none;
}
.shown{
  display: block;
}