body {
  font-family: "Open Sans", sans-serif;
}
.padtop {
  padding-top: 50px;
}
.padbottom {
  padding-top: 50px;
}

/* font-size: x-large; */

.padright {
  padding-right: 20px;
}
.bold {
  font-weight: 900;
}
.semibold {
  font-weight: 600;
}
.center {
  text-align: center;
}
.storediv {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1750px;
  margin-right: auto;
  margin-left: auto;
}
.card {
  max-width: 300px;
}
.gridblock {
  display: inline-block;
}
#title {
  padding-bottom: 20px;
}
.roundimg {
  border-radius: 50%;
  object-fit: cover;
}
.right {
  float: right;
}
.vertcenter {
  vertical-align: middle;
}
.logo {
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo h1 {
  line-height: 128px;
}
.hidden {
  display: none;
}
.shown {
  display: block;
}
